.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 90px 50px 93px;
}

.header__menu-list {
    display: flex;
    gap: 31px;
}

.header__menu-item {
    list-style: circle;
}

.header__menu-link {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link-active {
    text-decoration: none;
}

.header__logo-img {
    width: 148px;
    height: 105px;
}

.address {
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
}

.address__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}

.cover {
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin-bottom: 180px;
    position: relative;
}

.cover__title {
    margin-bottom: 106px;
    position: relative;
    z-index: 10;
}

.aligned-text {
    display: block;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
    line-height: 1.28;
    color: #fff;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 19px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.bet-button {
    min-width: 256px;
    min-height: 51px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.common__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.lots {
    padding: 0 24px;
    margin-bottom: 120px;
}

.lots__heading {
    text-indent: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style: none;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-link, .card {
    height: 100%;
}

.card-link {
    text-decoration: none;
}

.card__title {
    min-width: 254px;
    min-height: 110px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 4px;
    position: relative;
    z-index: 10;
}

.card__text {
    min-width: 254px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    position: relative;
    z-index: 10;
}

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-indent: 40px;
    color: #000;
    text-underline-offset: 5px;
}

.about {
    min-height: 595px;
    padding: 35px 24px 0;
    display: grid;
    grid-template-columns: 334px 1fr;
    justify-items: center;
    margin-bottom: 180px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 150px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column-right {
    align-self: self-end;
    padding-left: 25px;
    padding-right: 5px;
}

.about__heading {
    margin-bottom: 100px;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 82px;
}

.address__footer {
    justify-self: flex-start;
    max-width: 100%;
}

.footer__menu-list {
    list-style: none;
    justify-items: center;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #000;
    color: #000;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
